* {
    /* REST CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #928679;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    width: 318px;
    height: 500px;
    border-radius: 20px;
    background-color: #dddddd;
    position: relative;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#head {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

#img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

#colors {
    gap: 10px;
    display: flex;
    position: absolute;
    width: 50%;
    height: 10%;
    bottom: 0;
    right: 25%;
    align-items: center;
    justify-content: center;
}

#heart {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10%;
    left: 5%;
    border-radius: 50%;
    background-color: #ffb869;
}

#info1 {
    padding-left: 10%;
    font-size: larger;
    font-weight: bolder;
    color: #ff8903;
}

#price {
    width: 30%;
    margin-left: 10%;
    border-radius: 20px;
    background-color: #0a0a0a;
}

#info2 {
    color: #d6d6d6;
    padding-left: 2%;
}

#info3 {
    padding-top: 1%;
    padding-left: 10%;
    font-size: smaller;
    opacity: 50%;
}

.col {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#col1 {
    background-color: #ffb869;
}

#col2 {
    background-color: #ff8903;
}
#col3 {
    background-color: #0a0a0a;
}
