h1 {
    color: #444;
    text-align: center;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.ingredientes {
    background-color: rgb(185, 248, 207);
    font-family: sans-serif;
    font-size: 24px;
}

.ingredientes h2 {
    color: red;
}

/* Seção de modo de preparo */
.modo-preparo {
    background-color: rgb(190, 219, 255);
}

.modo-preparo h2 {
    font-size: 48px;
    color: red;
}

.modo-preparo ol {
    font-family: sans-serif;
}
